<body>
    <header>
        <h1>{{menuOptions.0.nombre}}</h1>
        <h2>{{menuOptions.0.advertencia}}</h2>
        <div class="yo">
            <img src="{{menuOptions.0.imagen}}" alt="Imagen De Luis">
        </div>
    </header>
    <main>
        <h2>{{menuOptions.1.subtitulo}}</h2>
        <p>{{menuOptions.1.contenido}}</p>
    </main>
    <footer>
        <h3>{{menuOptions.2.mensaje}}</h3>
        <nav>
            <ul class="contac">
                <li><a href="{{menuOptions.2.link1}}">{{menuOptions.2.link1n}}</a></li>
                <li><a href="{{menuOptions.2.link2}}">{{menuOptions.2.link2n}}</a></li>
            </ul>
        </nav>
    </footer>
</body>